*{
    margin: 0%;
    padding: 0%; 
    box-sizing:  border-box;
    }
.side-nav{
    height: 800px;
    width: 220px;
    background-color: black;
    left: 0%;
    top: 0%;
    position: fixed;
    color: white;
    z-index: 9000;
    animation: fadeOutLeft;
    animation-duration: 0.8s;
   
    
   }
.img-box{
    height: 200px;
    width: 00px;
    background-color:red;
   border-radius: 50%;
 }
.img{
    height: 200px;
    width: 200px;
   background-color: aquamarine;
   border-radius: 50%;
   background-image: url(pranali_img.jpg);
   background-size: cover;
   margin: 10px;
} 
.nav-icons i{
    padding: 20px;
    background-color: azure;
    border-radius: 50%;
    margin: 5px;
    color: black;
}
.nav-icons:hover  i{
color: rgba(0, 157, 255, 0.578);
}
.list-group-item i{
    padding: 10px;
    background-color: white;
    font-size: 15px;
    font-size: 17px;
    border-radius: 50%;
    color: black;
}
    
.list-group-item a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.list-group li:hover a,
.list-group li:hover i{
color: rgba(0, 157, 255, 0.578);
}
.side-nav.active{
    opacity: 1;
    animation: fadeInLeft;
    animation-duration: 0.8s;
}
.hero-bg{
width: 100%;
height: 150vh;
background-image: url(img4.jpg);
background-size: cover;
background-repeat: no-repeat;
position: relative;
background-attachment: fixed;
background-position-x: right;
background-position-y: top;
}  
.hero-bg-shadow-box{
    width: 100%;
    height: 200vh;
    position:absolute;
    left: 0;
    top: 0;
    display: flex;
 padding-top: 200px;
   align-items: center;
   flex-direction: column;
   text-align: center;
   color: white;
}
.hero-bg-shadow-box h1{
 font-size: 60px;
 font-family: sans-serif;
 font-weight: bold;
 }
 .hero-bg-shadow-box h6{
    font-size: 22px;
 }
 .button{
    color: white;
    z-index: 200;
    font-size: 30px;
    background: none;
    width: 100px;
}
.button1{
    opacity: 0;
    background: none;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 20px;
}
.about-section h2{
    color: #120512;
}
.about-section h3::after,
.skill-section h3::after
.resume-section h3::after
.contact-section h3::after{
    content: '';
    position: relative;
    width: 50px;
    height: 3px;
    display: block;
    background: rgba(0, 0, 255, 0.511);
    top: 5px;
    bottom: 0;
    left: 0;

}

.skill-section{
    background-color: #12051230;
}
.bar{
    background-color: #353b3571;
    display: block;
    height: 10px;
    border: 1px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bar span{
    height: 10px;
    float: left;
    background:linear-gradient(135deg,rgb(87, 135, 216)0% ,rgb(18, 15, 179)100%)
}
.html{
    width:90% ;
    animation: html 3s;
}
.c{
    width:80% ;
    animation: html 3s;
}
.sql{
    width:80% ;
    animation: html 3s;
}
.css{
    width:75% ;
    animation: html 3s;
}
.bootstrap{
    width:75% ;
    animation: html 3s;
}
.javascript{
    width:80% ;
    animation: html 3s;
}
.jquery{
    width:70% ;
    animation: html 3s;
}
.python{
    width:75% ;
    animation: html 3s;
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }

}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }

}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }

}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }

}
@keyframes jquery{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }

}
.skill-section span{
    font-weight: bold;
}
.skill-section progress{
    border-radius: 0%;
    height: 10px;
}
.skill-section progress-bar{
    background-color: rgba(0, 128, 255, 0.781);
    width: 20%;
}
.resume-box{
    border-left: 2px solid #149DDD;
   position: relative;
}
 .resume-box::before{
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius:50% ;
  border:2px solid #149DDD;
  background-color: white;
  top: 0;
  left: -10px;
}
.resume-box h3{
    font-weight: bold;
}
.resume-box p{
    font-style: italic;
}
.resume-box ul li{
    font-size: 18px;
}
.contact-section i{
    padding: 15px;
    font-size: 30px;
    background-color: #149ddd7a;
    border-radius: 50%;
    color: white;
}
.contact-section i:hover{
    background-color: #149DDD;
    transition: 0.4s ease-in-out;
}
.contact-section label{
    font-size: 18px;
    font-family: sans-serif;
}
 @media(max-width:991px){
       .side-nav{
               opacity: 0;
       }
       .button1{
        opacity: 1;
              } 
 }